

<form action='/liverpool/guest_update/<%=@guest.id%>' method='post'>
<%= <%= hidden_field_tag hidden_field_tag hidden_field_tag :authenticity_token authenticity_token authenticity_token authenticity_token , form_authenticity_tokenform_authenticity_token form_authenticity_token form_authenticity_token form_authenticity_token %>
    내용:<textarea type="text" name="guest_content">   </textarea><br>
    
    <br><input type="submit" value="edit"></input>
    </form>